C:\Users\Usuario\source\repos\AA3_RPG\AA3_“JoelBatekela”_“IuTirbió”_SOL\.vs\AA3_“JoelBatekela”_“IuTirbió”_SOL\FileContentIndex\071ad70a-324f-496d-9b86-54f00f5edc66.vsidx
C:\Users\Usuario\source\repos\AA3_RPG\AA3_“JoelBatekela”_“IuTirbió”_SOL\.vs\AA3_“JoelBatekela”_“IuTirbió”_SOL\FileContentIndex\2927aa56-df45-42bb-85a2-5ee35bfdbbf1.vsidx
C:\Users\Usuario\source\repos\AA3_RPG\AA3_“JoelBatekela”_“IuTirbió”_SOL\.vs\AA3_“JoelBatekela”_“IuTirbió”_SOL\FileContentIndex\bd70be71-28b1-4c21-b3a0-44cc804a5cde.vsidx
C:\Users\Usuario\source\repos\AA3_RPG\AA3_“JoelBatekela”_“IuTirbió”_SOL\.vs\AA3_“JoelBatekela”_“IuTirbió”_SOL\FileContentIndex\c0d34275-07de-4942-a4d0-0f4770dca4f1.vsidx
C:\Users\Usuario\source\repos\AA3_RPG\AA3_“JoelBatekela”_“IuTirbió”_SOL\.vs\AA3_“JoelBatekela”_“IuTirbió”_SOL\FileContentIndex\dcf4fc14-c6e3-49f1-9ed6-46eb37b2abe2.vsidx